<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/style.css" />
      <title><%=title%></title>
   </head>
   <body>
      <%- include("partials/header") %>
      <main>
         <form action="create" method="post" class="game-form">
            <legend><%=title%></legend>
            <div class="input-container">
               <label for="title">Title:</label>
               <input
                  type="text"
                  name="title"
                  id="title"
                  required
                  value="<%= locals.game && locals.game.title %>"
               />
            </div>
            <div class="input-container">
               <label for="release">Release year:</label>
               <input
                  type="number"
                  name="release"
                  id="release"
                  required
                  min="1958"
                  value="<%= locals.game && locals.game.release_year %>"
               />
            </div>
            <fieldset class="input-container">
               <legend>Genres:</legend>
               <% genres.forEach((genre) => { %>
               <label for="<%= genre.name %>"><%= genre.name %></label>
               <input
                  type="checkbox"
                  checked="<% local.checkedGenres && local.checkedGenres.includes(genre.id) %>"
                  value="<%= genre.id %>"
                  name="genres"
                  id="<%= genre.name %>"
               />
               <% }) %>
            </fieldset>
            <fieldset class="input-container">
               <legend>Platforms:</legend>
               <% platforms.forEach(platform => { %>
               <label for="<%= platform.name %>"><%= platform.name %></label>
               <input
                  type="checkbox"
                  checked="<% local.checkedPlatforms && local.checkedPlatforms.includes(platform.id) %>"
                  value="<%= platform.id %>"
                  name="platforms"
                  id="<%= platform.name %>"
               />
               <% }) %>
            </fieldset>
            <fieldset class="input-container">
               <legend>Developers:</legend>
               <% developers.forEach(developer => { %>
               <label for="<%= developer.name %>"><%= Developers.name %></label>
               <input
                  type="checkbox"
                  checked="<% local.checkedDevelopers && local.checkedDevelopers.includes(developer.id) %>"
                  value="<%= developer.id %>"
                  name="developers"
                  id="<%= developer.name %>"
               />
               <% }) %>
            </fieldset>
            <div class="input-container">
               <label for="description">Description:</label>
               <textarea name="description" id="description" required rows="5">
<%= locals.game && locals.game.description %></textarea
               >
            </div>
            <div class="num-input-container">
               <label for="rating">Rating:</label>
               <input
                  type="number"
                  name="rating"
                  id="rating"
                  required
                  min="0"
                  max="10"
                  value="<%= locals.game && game.rating %>"
               />
            </div>
            <div class="num-input-container">
               <label for="rating">Price:</label>
               <input
                  type="number"
                  name="price"
                  id="price"
                  required
                  min="0"
                  step="0.1"
                  value="<%= locals.game && game.price %>"
               />
            </div>
            <div class="num-input-container">
               <label for="rating">Quantity:</label>
               <input
                  type="number"
                  name="quantity"
                  id="quantity"
                  required
                  min="0"
                  value="<%= locals.game && game.quantity %>"
               />
            </div>
            <%- include('partials/errors') %>
            <button type="submit" class="submit-btn">Add</button>
         </form>
      </main>
   </body>
</html>
